<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>To Do List</title>
</head>

<body>
  <!-- The symbol below is a marker tht allows us to place variables into our htnl file.
       Inside the tag, we place the name of the variable that we want.
  -->
  <h1>It's a <%=kindOfDay%>!</h1>
  <p>Why are you not working!</p>
</body>

</html>
